<app-menu></app-menu>
<div class="container m-3 p-3">
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"><button routerLink="/productos" class="btn btn-primary">Registrar Productos</button></div>
                <div class="card-body">
                  <h5 class="card-title">Productos</h5>
                  <p class="card-text">
                      Aqui puedes registrar todos los productos de tu tienda.
                        Vamos registra ya!
                  </p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header"><button routerLink="/listado" class="btn btn-warning text-light">Listado de productos</button></div>
                <div class="card-body">
                  <h5 class="card-title">Listado</h5>
                  <p class="card-text">
                      Desde aqui podras visualizar todos los productos que tengas en el stock
                  </p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header"><button routerLink="/factura" class="btn btn-success">Realizar Factura</button></div>
                <div class="card-body">
                  <h5 class="card-title">Facturacion</h5>
                  <p class="card-text">
                      Ya puedes realizar una factura relacionada con una compra.
                      Registra la venta.
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>